allow qti_init_shell { gx_fpd_exec bt_mac_writer_exec }:file { read open execute execute_no_trans entrypoint };
allow qti_init_shell nv_data_file:dir { search };
allow qti_init_shell nv_data_file:file rw_file_perms;
allow qti_init_shell hci_attach_dev:chr_file rw_file_perms;
allow qti_init_shell hci_exec:file { execute_no_trans entrypoint };
allow qti_init_shell bluetooth_loader_exec:file { read open execute execute_no_trans entrypoint };
allow qti_init_shell gx_fpd_data_file:dir { search read };
