#type debugfs_rmt, debugfs_type, fs_type;
# debugfs access

allow rmt_storage self:capability sys_admin;

userdebug_or_eng(`
  allow rmt_storage debugfs_rmt:dir search;
  allow rmt_storage debugfs_rmt:file rw_file_perms;
')

